
.Rproj.user/5B5FB781/build_options

*.pper

.Rproj.user/5B5FB781/persistent-state

.Rproj.user/5B5FB781/sdb/prop/1F4E2F13

.Rproj.user/5B5FB781/sdb/prop/3BD35CF

.Rproj.user/5B5FB781/sdb/prop/INDEX

.Rproj.user/5B5FB781/sdb/prop/6C2BBF4B

.Rproj.user/5B5FB781/sdb/s-71A206FA/lock_file

.Rbuildignore
